/* Start Global Rules  */
:root {
    --section-padding:20px;
    --main-color: #777;
    --sec-color:#0075ff;
    --back-color:#eeeeee;
    --orange-color:orange;
    --green-color:#22c55e;
    --dark-blue:#0057ba;
    --set-color: #cacaca;
    --time-duration:0.3s;
    --cay-color:#f1f5f9;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
*:focus {
    outline: none;
}
h3.inside-head {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-transform: capitalize;
}
h3.inside-head + p {
    color:var(--main-color);
    font-size: 0.95em;
} 
.land a {
    padding: 5px 10px;
    color: white;
    font-size: 0.9em;
    border-radius: 7px;
}
.back-blue {
    background-color: var(--sec-color);
}
.back-orange {
    background-color: var(--orange-color);
}
.back-green {
    background-color: var(--green-color);
}
.main-propert {
    border-radius: 10px;
    background-color: white;
    padding: var(--section-padding);
}
.box {
    display: grid;
}
/* End Global Rules  */
.land .main-page .container .profile {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
    gap: 20px;
    overflow: hidden;
}
.land .main-page .container .profile .profile-1 {
    padding: 0;
}
.land .main-page .container .profile .profile-1 .box-start {
    display: grid;
    grid-template-columns: 1fr 200px;
    align-items: start;
    background-color: var(--back-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: var(--section-padding);
    padding-bottom: 10px;
}
.land .main-page .container .profile .profile-1 .box-start h3 {
    margin-bottom: 5px;
}
.land .main-page .container .profile .profile-1 .box-start h3 + p {
    font-size: 1em;
}
.page .land .main-page .container .profile .profile-1 .box-start img {
    max-width: 200px;
}
.page .land .main-page .container .profile .profile-1 .box-end {
    background-color: white;
}
.page .land .main-page .container .profile .profile-1 .box-end .image {
    position: relative;
    width: 100%;
    height: 58px;
    border-bottom: 1px solid #eaeaea;
}
.page .land .main-page .container .profile .profile-1 .box-end img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border:4px solid rgb(255 255 255 / 50%);
    position: absolute;
    top: -35px;
    left: 20px;
}
.page .land .main-page .container .profile .profile-1 .box-end .info {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #eaeaea;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.page .land .main-page .container .profile .profile-1 .box-end .info h4 {
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.page .land .main-page .container .profile .profile-1 .box-end .info p {
    color: var(--main-color);
    font-size: 0.9em;
    text-align: center;
}
.page .land .main-page .container .profile .profile-1 .box-end .anc {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    padding-right: var(--section-padding);
    display: flex;
    justify-content: flex-end;
}
.page .land .main-page .container .profile .profile-1 .box-end .anc a {
    display: inline-block;
    background-color: var(--sec-color);
}
/* Start  */
.page .land .main-page .container .profile .profile-2 form {
    margin-top: 20px;
    display: grid;
}
.page .land .main-page .container .profile .profile-2 form input[type="text"] ,
.page .land .main-page .container .profile .profile-2 form textarea {
    border: none;
    background-color: var(--back-color);
    margin-bottom: 20px;
    padding: 11px;
    border-radius: 5px;
    font-size: 0.8em;
}.page .land .main-page .container .profile .profile-2 form input[type="text"]:focus ,
.page .land .main-page .container .profile .profile-2 form textarea:focus {
    outline: none;
}
.page .land .main-page .container .profile .profile-2 form textarea {
    height: 180px;
    resize: none;
}
.page .land .main-page .container .profile .profile-2 form textarea::placeholder {
    font-family: monospace, monospace;
}
.page .land .main-page .container .profile .profile-2 form input[type="submit"] {
    background-color: var(--sec-color);
    color: white;
    border: none;
    margin-left: auto;
    padding: 4.5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}
/* Start  */
.page .land .main-page .container .profile .profile-3 {
    display: grid;
}
.page .land .main-page .container .profile .profile-3 .box {
    display: grid;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.page .land .main-page .container .profile .profile-3 .box .perc {
    display: flex;
    align-content: center;
    align-items: center;
    gap: 15px;
}
.page .land .main-page .container .profile .profile-3 .box .perc i {
    width: 95px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page .land .main-page .container .profile .profile-3 .box i.c-blue {
    color: var(--sec-color);
    background-color: #cce3ff;
}
.page .land .main-page .container .profile .profile-3 .box i.c-orange {
    color: var(--orange-color);
    background-color: #fdecce;
}
.page .land .main-page .container .profile .profile-3 .box i.c-green {
    color: var(--green-color);
    background-color: #d3f3df;
}
.page .land .main-page .container .profile .profile-3 .box .perc h4 {
    color: var(--main-color);
    font-weight: 500;
    font-size: 0.9em;
}
.page .land .main-page .container .profile .profile-3 .box .perc p {
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 10px;
}
.page .land .main-page .container .profile .profile-3 .box .perc .info {
    width: 100%;
}
.page .land .main-page .container .profile .profile-3 .box .perc .info div{
    width: 100%;
    height: 4px;
}
.page .land .main-page .container .profile .profile-3 .box .perc:first-of-type .info div {
    background-color: #cce3ff;
}
.page .land .main-page .container .profile .profile-3 .box .perc:nth-of-type(2)  .info div {
    background-color: #fdecce;
}
.page .land .main-page .container .profile .profile-3 .box .perc:last-of-type .info div {
    background-color: #d3f3df;
}
.page .land .main-page .container .profile .profile-3 .box .perc .info div span {
    display: block;
    height: 100%;
    position: relative;
}
.page .land .main-page .container .profile .profile-3 .box .perc .info div span::before {
    content: attr(data-progress);
    color: white;
    background-color: var(--sec-color);
    border-radius: 6px;
    position: absolute;
    top: -32px;
    right: -17px;
    padding: 3px 5px 2px;
    font-size: 0.8em;
}
.page .land .main-page .container .profile .profile-3 .box .perc .info div span::after {
    content: "";
    position: absolute;
    top: -12px;
    right: -4px;
    border: 5px solid;
    border-color: var(--sec-color) transparent transparent transparent;
}
.page .land .main-page .container .profile .profile-3 .box .perc .info div span.back-orange::before {
    background-color: var(--orange-color);
}
.page .land .main-page .container .profile .profile-3 .box .perc .info div span.back-orange::after {
    border-top-color: var(--orange-color);
}
.page .land .main-page .container .profile .profile-3 .box .perc .info div span.back-green::before {
    background-color: var(--green-color);
}
.page .land .main-page .container .profile .profile-3 .box .perc .info div span.back-green::after {
    border-top-color: var(--green-color);
}
/* End Profile-3 */
/* Start  */
.profile-4 .box {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(48%,1fr));
    gap: 20px;
    text-align: center;
    margin-top: 20px;
}
.profile-4 .box .box-in {
    border: 1px solid rgb(196, 196, 196);
}
.profile-4 .box .box-in i {
    font-size: 1.65em;
    margin-bottom: 10px;
}
.profile-4 .box .box-in:first-of-type i {
    color: var(--orange-color);
}
.profile-4 .box .box-in:nth-of-type(2) i {
    color: var(--sec-color);
}
.profile-4 .box .box-in:nth-of-type(3) i {
    color: var(--green-color);
}
.profile-4 .box .box-in:last-of-type i {
    color: red;
}
.profile-4 .box .box-in p {
    font-weight: 700;
    font-size: 1.55em;
    margin-bottom: 2px;
}
.profile-4 .box .box-in span {
    font-size: 0.8em;
    color: var(--main-color);
}
/* End  */
/* Start Profile-5  */
.profile-5 {
    padding-bottom: 0;
}
.profile-5 .box {
    display: grid;
    margin-top: 20px;
}
.profile-5 .box .box-in {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-bottom: var(--section-padding);
}
.profile-5 .box .box-in:not(:first-of-type) {
    padding-top: var(--section-padding);
    border-top: 1px solid var(--back-color);
}
.profile-5 .box .box-in .image {
    width: 100px;
    height: 55px;
}
.profile-5 .box .box-in .image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.profile-5 .box .box-in h4 {
    margin-bottom: 5px;
}
.profile-5 .box .box-in p {
    color: var(--main-color);
    font-size: 0.9em;
}
.profile-5 .box .box-in span {
    padding: 5px 10px;
    font-size: 0.8em;
    background-color: var(--back-color);
    height: fit-content;
    border-radius: 5px;
    margin-left: auto;
    display: inline-block;
}
/* End  */
/* Start  */
.profile-6 .box {
    display: grid;
    margin-top: 20px;
}
.profile-6 .box .box-in {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}
.profile-6 .box .box-in:not(:first-of-type) {
    padding-top: 15px;
    border-top: 1px solid var(--back-color);
}
.profile-6 .box .box-in:not(:last-of-type){
    padding-bottom: 15px;
}
.profile-6 .box .box-in del {
    color: var(--main-color);
}
.profile-6 .box .box-in del h4 {
    filter: opacity(0.6);
}
.profile-6 .box .box-in del p {
    filter: opacity(0.3);
}
.profile-6 .box .box-in h4 {
    margin-bottom: 5px;
    font-size: 0.95em;
}
.profile-6 .box .box-in p {
    color: var(--main-color);
    font-size: 1em;
}
.profile-6 .box .box-in i {
    transition: 0.3s;
}
.profile-6 .box .box-in .opa + i {
    filter: opacity(0.5);
    color: var(--main-color);
}
.profile-6 .box .box-in i:hover{
    color: red;
    cursor: pointer;
}
/* End  */
/* Start  */
.profile-7 .box {
    display: grid;
    margin-top: 20px;
}
.profile-7 .box .box-in {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    padding-bottom: 15px;
    font-weight: 500;
}
.profile-7 .box .box-in:not(:first-of-type) {
    padding-top: 15px;
}
.profile-7 .box .box-in:first-of-type {
    color: var(--main-color);
    padding-bottom: 7px;
}
.profile-7 .box .box-in h4 {
    font-weight: 500;
}
.profile-7 .box .box-in:not(:first-of-type) span {
    padding: 4px 10px;
    font-size: 0.85em;
    background-color: var(--back-color);
    height: fit-content;
    border-radius: 5px;
    margin-left: auto;
    display: inline-block;
}
/* End  */
/* Start  */
.profile-8 {
    padding-bottom: 0;
}
.profile-8 .box {
    display: grid;
}
.profile-8 .box .box-in {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}
.profile-8 .box .box-in:not(:last-of-type){
    padding-bottom: calc(var(--section-padding) / 2);
    border-bottom: 1px solid var(--back-color);
}
.profile-8 .box .box-in img {
    width: 40px;
}
.profile-8 .box .box-in h4 {
    font-weight: 500;
    margin-bottom: 1px;
}
.profile-8 .box .box-in p {
    color: var(--main-color);
    font-size: 0.95em;
}
.profile-8 .box .box-in span {
    padding: 4px 10px;
    font-size: 0.85em;
    background-color: var(--back-color);
    height: fit-content;
    border-radius: 5px;
    margin-left: auto;
    display: inline-block;
}
/* End  */
/* Start  */
.profile-9 {
    padding-bottom: 0;
    padding-right: 0;
}
.profile-9 .box {
    display: flex;
    justify-content: space-between;
}
.profile-9 .box .sub-box {
    padding-bottom: 10px;
}
.profile-9 .box .box-in {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 13px;
}
.profile-9 .box .box-in span {
    display: inline-block;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--sec-color);
    border: 2px solid white;
    outline: 2px solid var(--sec-color);
    position: relative;
}
.profile-9 .box .box-in:not(:last-of-type) span::after {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--sec-color);
    width: 2.5px;
    height: 25px;
}
.profile-9 .box .box-in:nth-of-type(4) span {
    animation: change-color 2s 0s infinite;
}
.profile-9 .box .box-in:nth-of-type(4) span ,
.profile-9 .box .box-in:nth-of-type(5) span {
    background-color: white;
}
.profile-9 .box h4 {
    font-weight: 500;
}
.profile-9 .box .image {
    width: 160px;
    display: flex;
    align-items: flex-end;
    position: relative;
}
.profile-9 .box .image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255 255 255 / 90%);
    width: 100%;
    height:100%;
}
.profile-9 .box .image img {
    width: 160px;
}
/* End  */
/* Start  */
.profile-10 .box {
    margin-top: var(--section-padding);
} 
.profile-10 .box .box-in {
    display: flex;
    gap: 30px;
    align-items: center;
}
.profile-10 .box .box-in:not(:first-of-type) {
    padding-top: 15px;
}
.profile-10 .box .box-in span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--sec-color);
    position: relative;
}
.profile-10 .box .box-in span::after {
    content: "";
    position: absolute;
    right: -17px;
    top: -13px;
    transform: translateX(-50%);
    background-color: var(--sec-color);
    width: 1.5px;
    height: 42px;
}
.profile-10 .box .box-in:nth-of-type(2) span {
    background-color: #22c55e;
}
.profile-10 .box .box-in:nth-of-type(2) span::after {
    background-color: var(--green-color);
}
.profile-10 .box .box-in:nth-of-type(3) span {
    background-color: var(--orange-color);
}
.profile-10 .box .box-in:nth-of-type(3) span::after {
    background-color: var(--orange-color);
}
.profile-10 .box .box-in:nth-of-type(4) span {
    background-color: red;
}
.profile-10 .box .box-in:nth-of-type(4) span::after {
    background-color: red;
}
.profile-10 .box .box-in .text {
    display: grid;
    gap: 10px;
}
.profile-10 .box .box-in .text h4{
    font-size: 0.9em;
}
.profile-10 .box .box-in .text p {
    color: var(--main-color);
    font-size: 0.8em;
}
/* End */
/* Start  */
.profile-11 .box-in{
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: var(--section-padding);
    margin-top: 15px;
    border-bottom: 1px solid var(--back-color);
}
.profile-11 .box-in .image{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.profile-11 .box-in .image img {
    width: 100%;
}
.profile-11 .box-in .text p {
    font-size: 1em;
    margin-top: 5px;
    color: var(--main-color);
}
.profile-11 .box-in + p {
    padding-top: 20px;
    line-height: 1.8;
    padding-bottom: 60px;
    border-bottom: 1px solid var(--back-color);
}
.profile-11 .box-in:last-of-type {
    justify-content: space-between;
    color: var(--main-color);
    font-size: 1em;
    border:none;
    padding-bottom: 5px;
    padding-top: 5px;
}
/* End  */
/* Start  */
.profile-12 .box {
    margin-top: 20px;
    gap: 10px;
}
.profile-12 .box .box-in {
    display: grid;
    align-items: center;
    grid-template-columns: 53px 1fr;
    background-color: #d2ecfc;
}
.profile-12 .box .box-in i {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 11px;
    padding-bottom: 11px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #1da1f2;
    transition: var(--time-duration);
}
.profile-12 .box .box-in i:hover {
    transform: rotate(5deg);
}
.profile-12 .box .box-in:nth-of-type(2) i ,
.profile-12 .box .box-in:nth-of-type(4) i{
    background-color: var(--sec-color);
}
.profile-12 .box .box-in:nth-of-type(3) i {
    background-color: red;
}
.profile-12 .box .box-in .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 18px;
    height: 100%;
}
.profile-12 .box .box-in:not(:nth-of-type(3)) .text {
    background-color: #d2ecfc;
}
.profile-12 .box .box-in:nth-of-type(3) .text {
    background-color: #ffcccc;
}
.profile-12 .box .box-in:nth-of-type(1) .text p {
    color: #1da1f2;
}
.profile-12 .box .box-in .text p {
    color: var(--sec-color);
}
.profile-12 .box .box-in:nth-of-type(3) .text p {
    color: red;
}
.profile-12 .box .box-in:nth-of-type(4) .text p {
    color: var(--dark-blue);
}
.profile-12 .box .box-in a {
    background-color: #1da1f2;
    display: inline-block;
    font-size: 0.8em;
}
.profile-12 .box .box-in:nth-of-type(2) a ,
.profile-12 .box .box-in:nth-of-type(4) a  {
    background-color: var(--sec-color);
}
.profile-12 .box .box-in:nth-of-type(3) a {
    background-color: red;
}
.profile-12 .box .box-in:nth-of-type(4) a {
    background-color: var(--dark-blue);
}
/* End  */
/* Start Table  */
.table {
    margin-top: 20px;
    overflow-x: auto;
}
.table table {
    margin-top: 20px;
    border-spacing: 0;
    border: 1px solid var(--back-color);
    border-right: none;
    width: 100%;
    min-width: 1000px;
}
.table table tr {
    background-color: white;
    transition: 0.5s;
}
.table table tr:hover {
    background-color:  #f5f5f5;
}
.table table thead th {
    background-color: var(--back-color);
    text-align: left;
    padding: 15px;
} 
.table table tr td {
    padding: 15px;
    text-align: left;
    position: relative;
    font-size: 0.97em;
}
.table table thead:not(:last-of-type) th ,
.table table tr:not(:last-of-type) td {
    border-bottom: 1px solid var(--back-color);
    border-right: 1px solid var(--back-color);
}
.table table tr td img {
    width: 33px;
    border-radius: 50%;
    border: 3px solid white;
}
.table table tr td img:not(:nth-of-type(1)) {
    margin-left: -20px;
}
.table table tr td span {
    padding: 5px 10px;
    background-color: #f59e0b;
    border-radius: 5px;
    color: white;
    font-size: 0.8em;
}
.table table tr:nth-of-type(2) td span {
    background-color: var(--sec-color);
} 
.table table tr:nth-of-type(3) td span ,
.table table tr:nth-of-type(4) td span ,
.table table tr:nth-of-type(6) td span {
    background-color: var(--green-color);
} 
.table table tr:nth-of-type(5) td span {
    background-color: red;
} 
/* End Table  */
/* End DashBoard  */
/* Start Settings  */
.setting-1 {
    display: grid;
    gap: 20px
}
.setting .inside-head {
    margin-bottom: 10px;
}
.setting-1 .box-2{
    display: flex;
    justify-content: space-between;
}
.setting-1 h4 {
    font-weight: 500;
}
.setting-1 p{ 
    color: var(--main-color);
    font-size: 0.85em;
    margin-top: 5px;
}
.setting-1 textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: 1px solid var(--set-color);
    padding: calc(var(--section-padding) / 2);
    font-size: 0.8em;
    margin-top: 5px;
}
.setting-1 textarea::placeholder {
    font-family: monospace, monospace;
}
.setting-2 form {
    display: grid;
    gap: 7px;
}
.setting-2 form label {
    font-size: 0.9em;
    color: var(--main-color);
}
.setting-2 form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    font-size: 0.85em;
}
.setting-2 form .email {
    display: flex;
}
.setting-2 form .email input[type="email"] {
    flex: 1;
    background-color: var(--cay-color);
    filter: opacity(0.7);
    cursor: no-drop;
}
.setting-2 form .email input[type="submit"] {
    border: none;
    color: var(--sec-color);
    font-size: 1em;
    cursor: pointer;
} 
/* Start  */
.setting-3 .box {
    display: grid;
}
.setting-3 .box .box-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}
.setting-3 .box .box-in:not(:nth-of-type(1)) {
    padding-top: 20px;
    border-top: 1px solid var(--back-color);
}
.setting-3 .box .box-in h4 {
    font-weight: 500;
    margin-bottom: 5px;
}
.setting-3 .box .box-in p {
    font-size: 0.9em;
    color: var(--main-color);
}
.setting-3 .box .box-in a {
    background-color: var(--sec-color);
    font-size: 1em;
    padding: 5px 12px;
    transition: var(--time-duration);
}
.setting-3 .box .box-in:last-of-type a {
    background-color: var(--back-color);
    color: black;
}
.setting-3 .box .box-in:first-of-type a:hover {
    background-color: var(--dark-blue);
}
/* Start  */
.setting-4 .box {
    display: grid;
    gap: 15px;
}
.setting-4 .box .box-in {
    display: flex;
    align-items: center;
    color: var(--main-color);
    background-color: var(--back-color);
    border: 1px solid #c7c7c7;
    border-radius: 5px;
}
.setting-4 .box .box-in i {
    text-align: center;
    padding: 10px;
    border-right: 1px solid #c7c7c7;
    width: 40px;
}
.setting-4 .box .box-in p {
    flex: 1;
    padding: 10px;
    font-size: 0.9em;
}
/* Start  */
.setting-5 form {
    display: grid;
    gap: 15px;
}
.setting-5 form .box-in {
    display: flex;
}
.setting-5 form .box-in input {
    cursor: pointer;
    width: 20px;
}
.setting-5 form .box-in label {
    padding-left: 10px;
    cursor: pointer;
}
/* Start  */
.setting-6 form {
    display: grid;
    gap: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--back-color);
}
.setting-6 .box {
    gap: 20px;
}
.setting-6 form .box-in {
    display: flex;
}
.setting-6 form .box-in input {
    cursor: pointer;
    width: 20px;
}
.setting-6 form .box-in label {
    padding-left: 10px;
    cursor: pointer;
}
.setting-6 .box-in-ch {
    flex: 1;
    border: 2px solid #eee;
    position: relative;
    border-radius: 10px;
}
.setting-6 .box-in-ch label {
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    position: relative;
}
.setting-6 .foot-chose:checked + label {
        border-color: var(--sec-color);
        color: var(--sec-color);
}
.setting-6 .foot-chose:checked + label::before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid var(--sec-color);
}
.setting-6 .box-in i {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 10px;
}
/* End Setting  */
/* Start Profile  */
.pro {
    grid-template-columns: none !important;
}
.pro .box-1 {
    width: 100%;
    display: flex;
}
.pro .box-1 .box-in-1 {
    text-align: center;
    display: grid;
    align-content: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}
.pro .box-1 .box-in-1 img{
    width: 120px;
    margin: auto;
}
.pro .box-1 .box-in-1 .text p{
    color: var(--main-color);
    margin-top: 10px;
    margin-bottom: 18px;
}
.pro .box-1 .box-in-1 .text .perc {
    width: 150px;
    height: 6px;
    background-color: var(--back-color);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
.pro .box-1 .box-in-1 .text .perc span {
    background-color: var(--sec-color);
    height: 100%;
    display: block;
}
.pro .box-1 .box-in-1 .text .rate {
    color: var(--orange-color);
    font-size: 0.8em;
}
.pro .box-1 .box-in-1 .text .num-rate {
    font-size: 0.8em;
    color: var(--main-color);
    display: inline-block;
    margin-top: 10px;
}
.pro .box-1 .box-in-2 {
    flex: 1;
    display: grid;
}
.pro .box-1 .box-in-2 .info {
    display: grid;
    gap: 10px;
    color: var(--main-color);
    padding: var(--section-padding);
    border-left: 1px solid var(--back-color);
    border-bottom: 1px solid var(--back-color);
    position: relative;
}
.pro .box-1 .box-in-2 .info:first-of-type::before ,
.pro .box-1 .box-in-2 .info:last-of-type::before {
    content: "";
    background-color: white;
    width: 5px;
    height: 70%;
    position: absolute;
    left: -2px;
}
.pro .box-1 .box-in-2 .info:first-of-type::before {
    top: 0;
}
.pro .box-1 .box-in-2 .info:last-of-type::before {
    bottom: 0;
}
.pro .box-1 .box-in-2 .info h4 {
    font-weight: 500;
    font-size: 0.95em;
}
.pro .box-1 .box-in-2 .info .text {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,0.6fr));
    row-gap: 10px;
    width: 80%;
}
.pro .box-1 .box-in-2 .info .text p {
    font-size: 0.9em;
}
.pro .box-1 .box-in-2 .info .text p span {
    color: black;
}
.pro .box-1 .box-in-2 .info label {
    margin-top: -18px;
}
.pro .box-1 .box-in-2 .info label .chec {
    appearance: none;
    -webkit-appearance: none;
}
.pro .box-1 .box-in-2 .info label .toggle-switch-2 {
    background-color: var(--sec-color);
    width: 78px;
    height: 20px;
    border-radius: 15px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}
.pro .box-1 .box-in-2 .info label .toggle-switch-2::before {
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    font-weight: 600;
    font-size: 0.6em;
    color: var(--sec-color);
    background-color: white;
    position: absolute;
    right: 5px;
    top: 4px;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.pro .box-1 .box-in-2 .info label .chec:not(:checked) + .toggle-switch-2 {
    background-color: var(--set-color);
}
.pro .box-1 .box-in-2 .info label .chec:not(:checked) + .toggle-switch-2::before {
    right: 61px;
    color: var(--set-color);
    content: "\f00d";
} 
.last-box {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 20px;
    background-color: var(--cay-color);
}
.last-box .skill {
    display: grid;
    margin-top: 20px;
}
.last-box .skill .comb:not(:last-of-type) {
    border-bottom: 1px solid var(--back-color);
    padding-top: 18px;
    padding-bottom: 18px;
}
.last-box .skill .comb:last-of-type {
    padding-top: 18px;
    padding-bottom: 18px;
}
.last-box .skill .comb span {
    padding: 5px 8px;
    background-color: var(--back-color);
    margin-right: 3px;
    border-radius: 5px;
    font-size: 0.9em;
}
.activities .box-activities {
    display: grid;
}
.activities .box-activities .act-1 {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: var(--section-padding);
}
.activities .box-activities .act-1:not(:first-of-type) {
    padding-top: var(--section-padding);
    border-top: 1px solid var(--back-color);
}
.activities .box-activities img {
    width: 75px;
    border-radius: 50%;
}
.activities .box-activities .text {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.activities .box-activities .text .info {
    display: grid;
    row-gap: 10px;
}
.activities .box-activities .text .info h4{
    font-weight: 500;
    font-size: 1em;
}
.activities .box-activities .text .info p{
    color: var(--main-color);
}
.activities .box-activities .text span {
    display: inline-block;
    display: grid;
    row-gap: 10px;
    justify-content: flex-end;
}
.activities .box-activities .text span p {
    color: var(--main-color);
}
/* End Profile  */
/* Start Project  */
.proj .card{
    display: grid;
}
.proj .card .box-in {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.proj .card .box-in .text {
    flex: 1;
}
.proj .card .box-in .text h4 {
    font-weight: 500;
    margin-bottom: 10px;
}
.proj .card .box-in .text p {
    font-size: 0.89em;
    color: var(--main-color);
}
.proj .card .box-in span {
    color: var(--main-color);
    font-size: 0.8em;
    margin-top: -10px;
    margin-right: -10px;
}
.proj .card .images {
    padding-top: 15px;
    padding-bottom: 15px;
}
.proj .card .images a {
    display: inline-block;
    border-radius: 50%;
    padding: 0;
}
.proj .card .images a:not(:first-of-type) {
    margin-left: -20px;
}
.proj .card .images img{
    width: 40px;
    border-radius: 50%;
    position: relative;
    border: 2px solid var(--back-color);
}
.proj .card .images a:hover {
    position: relative;
    z-index: 5;
}
.proj .card .images img:not(:first-of-type) {
    margin-left: -19px;
}
.proj .card .skills {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--back-color);
    border-bottom: 1px solid var(--back-color);
    padding-top: 15px;
    padding-bottom: 15px;
}
.proj .card .skills span {
    display: inline-block;
    margin-left: 5px;
    padding: 3px 8px;
    background-color: var(--back-color);
    font-size: 0.8em;
    border-radius: 5px;
}
.proj .card .box-end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}
.proj .card .box-end .perc-50 {
    width: 260px;
    height: 8px;
    background-color: var(--back-color);
    border-radius: 20px;
}
.proj .card .box-end .perc-50 span {
    display: block;
    height: 100%;
    background-color:  var(--green-color);
    border-radius: 20px;
}
.proj .card:nth-of-type(1) .box-end .perc-50 span ,
.proj .card:nth-of-type(6) .box-end .perc-50 span {
    background-color:red;
}
.proj .card:nth-of-type(3) .box-end .perc-50 span {
    background-color: var(--sec-color);
}
.proj .card .box-end .perc-50 + span {
    color: var(--main-color);
    font-size: 0.9em;
}
/* End Project  */
/* Start Courses */
.course {
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) !important;
}
.card-course {
    overflow: hidden;
    border-radius: 6px;
}
.course .image {
    position: relative;
}
.course .image img:first-of-type {
    width: 100%;
}
.course .image img:nth-of-type(2) {
    width: 65px;
    border-radius: 50%;
    border: 2px solid var(--back-color);
    position: absolute;
    left: 20px;
    top: 20px;
}
.course .text {
    padding: var(--section-padding);
    border-bottom: 1px solid var(--back-color);
    position: relative;
}
.course .text p {
    color: var(--main-color);
    font-size: 0.9em;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
}
.course .text a {
    background-color: var(--sec-color);
    color: white;
    font-size: 0.8em;
    position: absolute;
    display: inline-block;
    left: 50%;
    bottom: -12px;
    transform: translateX(-50%);
}
.course .price {
    padding: 15px;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
}
.course .price i {
    font-size: 0.8em;
}
.course .price span{
    font-size: 0.8em;
}
/* End Courses */
/* Start Friend  */
.friend {
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)) !important;
    gap: 20px;
}
.friend .box-friend {
    display: grid;
}
.friend .box-friend .image {
    position: relative;
    text-align: center;
    padding-top: 10px;
}
.friend .box-friend .image img {
    border-radius: 50%;
    width: 100px;
} 
.friend .box-friend .image .social {
    position: absolute;
    left: -10px;
    top: -10px;
}
.friend .box-friend .image .social i {
    border-radius: 50%;
    background-color: var(--back-color);
    color: var(--main-color);
    padding: 10px;
    font-size: 0.8em;
    transition: var(--time-duration);
}
.friend .box-friend .image .social i:hover {
    color: white;
    background-color: var(--sec-color);
    cursor: pointer;
}
.friend .box-friend .text {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--back-color);
}
.friend .box-friend .text p {
    color: var(--main-color);
    font-size: 0.8em;
    margin-top: 5px;
}
.friend .box-friend .info {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--back-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.friend .box-friend .info .info-box-1 {
    display: grid;
    gap: 10px;
    font-size: 0.9em;
}
.friend .box-friend .info .info-box-1 p i{
    padding-right: 10px;
} 
.friend .box-friend .info .vip {
    font-size: 2.6em;
    color: red;
    filter: opacity(0.1);
    font-weight: 700;
}
.friend .box-friend .foot {
    display: flex;
    padding-top: 15px;
    align-items: center;
}
.friend .box-friend .foot p {
    flex: 1;
    color: var(--main-color);
    font-size: 0.8em;
}
.friend .box-friend .foot a {
    font-size: 0.8em;
    padding: 4px 10px;
    display: flex;
    align-items: center;
}
.friend .box-friend .foot a:first-of-type {
    background-color: var(--sec-color);
    margin-right: 5px;
}
.friend .box-friend .foot a:last-of-type {
    background-color: rgb(253, 63, 63);
}
/* End Friend  */
/* Start File  */
.file {
    grid-template-columns: 1fr 21% !important;
}
.file .file-box {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 20px;
}
.file .file-box .box-in {
    padding: 10px;
}
.file .file-box .box-in .image {
    position: relative;
    text-align: center;
    padding-top: 15px;
}
.file .file-box .box-in .image img {
    width: 65px;
    transition: 0.3s;
}
.file .file-box .box-in:hover .image img {
    transform: rotate(5deg);
}
.file .file-box .box-in .image i {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--main-color);
}
.file .file-box .box-in .text {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid var(--back-color);
}
.file .file-box .box-in .text h4{
    text-align: center;
    font-weight: 500;
    font-size: 0.9em;
    margin-bottom: 12px;
}
.file .file-box .box-in .text p {
    color: var(--main-color);
    font-size: 0.85em;
}
.file .file-box .box-in .foot {
    color: var(--main-color);
    padding-top: 10px;
    display: flex;
    align-items: center;
}
.file .file-box .box-in .foot p {
    font-size: 0.85em;
    flex: 1;
}
.file .file-box .box-in .foot span {
    font-size: 0.85em;
    display: inline-block;
}
.file .file-statis {
    height: fit-content;
}
.file .file-statis h3 {
    margin-bottom: 15px;
}
.file .file-statis .box-in {
    display: grid;
    gap: 15px;
}
.file .file-statis .box-in .box {
    padding: 10px;
    border:1px solid var(--back-color);
    display: flex;
    align-items: center;
    gap: 10px;
}
.file .file-statis .box-in .box i {
    background-color: #cce3ff;
    padding: 20px 12px;
    font-size: 1em;
    color: var(--sec-color);
    text-align: center;
}
.file .file-statis .box-in .box:nth-of-type(2) i {
    background-color: #d3f3df;
    color: var(--green-color);
}
.file .file-statis .box-in .box:nth-of-type(3) i {
    background-color: #fdd9d7 ;
    color: red;
}
.file .file-statis .box-in .box:nth-of-type(4) i {
    background-color: #fdecce ;
    color: var(--orange-color);
}
.file .file-statis .box-in .box .text h4 {
    font-weight: 500;
    font-size: 0.8em;
    margin-bottom: 5px;
}
.file .file-statis .box-in .box .text p ,
.file .file-statis .box-in .box span {
    color: var(--main-color);
    font-size: 0.8em;
}
.file .file-statis .box-in .box span {
    display: inline-grid;
    margin-left: auto;
}
.file .file-statis .box-in a {
    background-color: var(--sec-color);
    margin: auto;
    width: fit-content;
    font-size: 0.8em;
    padding: 10.5px 16px;
    display: flex;
}
.file .file-statis .box-in a i {
    margin-right: 12px;
    position: relative;
    padding-top: 1px;
}
.file .file-statis .box-in a:hover i {
    animation: move-icon 0.7s 0s ease-in-out infinite;
}
.file .file-statis .box-in a span{
    padding-top: 1px;
}
/* End File  */
/* Start Plans  */
.plan {
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
}
.plan .plan-box {
    border-radius: 0px;
}
.plan .plan-box .price {
    background-color: var(--green-color);
    color: white;
    text-align: center;
    padding: 20px 10px;
    border: 3px solid white;
    outline: 3px solid var(--green-color);
    margin-bottom: 18px;
}
.plan .plan-box:nth-of-type(2) .price {
    background-color: var(--sec-color);
    outline-color: var(--sec-color);
}
.plan .plan-box:nth-of-type(3) .price {
    background-color: var(--orange-color);
    outline-color: var(--orange-color);
}
.plan .plan-box .price h4 {
    font-size: 1.5em;
}
.plan .plan-box .price span:nth-of-type(2) {
    font-size: 2.5em;
    display: inline-block;
    transform: translateX(-10px);
}
.plan .plan-box .price span:nth-of-type(1) {
    font-size: 1.55em;
    display: inline-block;
    transform: translate(-12px,-14px);
}
.plan .plan-box li {
    padding: 15px 28px;
    border-bottom: 1px solid var(--back-color);
    font-size: 0.95em;
    position: relative;
}
.plan .plan-box li::before {
    content: "\f00d";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    color: red;
    font-size: 1.25em;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
}
.plan .plan-box:nth-of-type(1) li:nth-of-type(1):before , 
.plan .plan-box:nth-of-type(1) li:nth-of-type(2):before , 
.plan .plan-box:nth-of-type(1) li:nth-of-type(3):before {
    content: "\f00c";
    color: var(--green-color);
}
.plan .plan-box:nth-of-type(2) li:nth-of-type(1):before , 
.plan .plan-box:nth-of-type(2) li:nth-of-type(2):before , 
.plan .plan-box:nth-of-type(2) li:nth-of-type(3):before ,
.plan .plan-box:nth-of-type(2) li:nth-of-type(4):before , 
.plan .plan-box:nth-of-type(2) li:nth-of-type(5):before , 
.plan .plan-box:nth-of-type(2) li:nth-of-type(6):before , 
.plan .plan-box:nth-of-type(2) li:nth-of-type(7):before  {
    content: "\f00c";
    color: var(--green-color);
}
.plan .plan-box:nth-of-type(3) li::before  {
    content: "\f00c";
    color: var(--green-color);
}
.plan .plan-box li::after {
    content: "\f05a";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: var(--main-color);
    cursor: pointer;
}
.plan .plan-box a {
    background-color: var(--green-color);
    display: inline-block;
    margin-top: 15px;
    font-size: 1em;
}
.plan .plan-box:nth-of-type(2) a {
    background-color: var(--sec-color);
}
.plan .plan-box:nth-of-type(3) a {
    background-color: white;
    color: var(--main-color);
    display: block;
    text-align: center;
}
/* End Plans  */
/* Animation  */
@keyframes change-color {
    0% {
        background-color: white;
    }
    50% {
        background-color: var(--sec-color);
    }
}
@keyframes move-icon {
    from {
        top: 0px;
    }
    50% {
        top: -5px;
    }
    to {
        top: 0px;
    }
}
/* Scroll  */
::-webkit-scrollbar {
    width: 0.9em;
}
::-webkit-scrollbar-thumb {
    background-color: var(--sec-color);
}